.Footer {
    background-color: #252527;
    padding: 2% 0;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.Footer h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
}

.footer_meio {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.footer_baixo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5%;
    color: rgb(163, 165, 180);
}

.powered_footer {
    font-size: 15px;
}

.powered_footer > h6 {
    font-size: 15px;
    color: aliceblue;
    text-transform: uppercase;
}

.powered_footer > p {
    font-size: 14px;
    color: rgb(163, 165, 180);
}

.powered_footer a{
    text-decoration: underline;
}

.copyright  {
    text-align: center;
    color: rgb(163, 165, 180);
}

.footer_icones {
    color: rgb(163, 165, 180);
    display: flex;
    gap: 30px;
}

@media screen and (max-width: 920px) {
    .Footer h2 {font-size: 20px;}
    .powered_footer > h6 {
        font-size: 14px;
    }
    
    .powered_footer > p {
        font-size: 14px;
    }
}
@media screen and (max-width: 560px) {
    .Footer h2 {font-size: 15px;}
    .powered_footer > h6 {
        font-size: 11px;
    }
    
    .powered_footer > p {
        font-size: 11px;
    }

    .powered_footer {
        font-size: 10px;
    }

    .copyright {
        font-size: 10px;
    }
}