.Texto {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 2% 0;
}

.Texto>h1 {
    text-align: center;
    font-weight: bold;
    color: var(--darkblue);
}

.Texto>h2 {
    text-align: center;
    font-weight: bold;
    color: var(--darkblue);
}

.Texto>h3 {
    text-align: center;
    font-size: 1.50rem;
    font-weight: bold;
    color: var(--darkblue);
}

.Texto hr {
    width: 50%;
    margin: 0 auto;
    background-color: #4F2B0E;
    border: 1px solid #4F2B0E;
}

.Texto p {
    text-align: center;
    color: #000000;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
}