.TopHeader {
    display: flex;
    z-index: 1000;
    height: 12vh;
    width: 100%;
    background-color: #ffffff; 
}

#btn_header_active {
    width: 6%;
    height: 6%;
    position: absolute;
    top: 1%;
}

.btn_drop_header {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 3vh;
    right: 3vh;
    height: 6vh;
    width: 6vh; 
}

.TopLogo {
    position: absolute;
    top: 2vh;
    display: flex;
    height: 8vh;
    width: 40%;
    align-items: center;
    padding-left: 1%;
}

#logo_img {
    position: relative;
    top: 1vh;
    height: 10vh;
    width: auto;
    margin-left: 20%;
}

#nome_logo {
    font-size: 1.8em;
    padding-left: 5%;
    color: rgb(9, 17, 82);
}
.TopHeader ul {
    position: absolute;
    right: 5px;
    top: 4.8vh;
}

.TopHeader ul li {
    display: inline-block;
    width: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.TopHeader ul li a {
    padding: 15px;
    letter-spacing: 1px;
    font-size: 1.2em;
}

.TopHeader ul li a:hover {
    color: rgb(8, 20, 126);
}

#options_header_mobile li a:hover {
    color: white;
}

.options_header {
    display: none;
}

.options_headeractive {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    z-index: 110;
    font-size: 1.2em;
    background-color: var(--darkblue);
    color: white;
    animation: slideInFromSide 0.2s ease-out;
    overflow: hidden;
}

#options_header_mobile {
    position: relative;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    top: 13vh;
    font-size: 1.2em;
}

@media screen and (max-width: 1100px) {
    #nome_logo {
        display: none;
    }
}

@media screen and (max-width: 840px) {
    #options_header_pc {
        display: none;
    }

    .btn_drop_header {
        display: block;
    }

    .options_headeractive {
        width: 40%;
        left: 60%;
    }

}

@media screen and (min-width: 840px) {
    .options_headeractive {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .options_headeractive {
        width: 60%;
        left: 40%;
    }
    .options_headeractive {
        font-size: 1em;
    }
    #options_header_mobile {
        height: 50%;
    }
}

@media screen and (max-width: 450px) {
    .options_headeractive {
        width: 70%;
        left: 30%;
    }
    .options_headeractive {
        font-size: 0.8em;
    }
    #options_header_mobile {
        height: 50%;
    }
}

@keyframes slideInFromSide {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  